configuration {
    font: "FiraCode Nerd Font 10";
    show-icons: true;
    location: 0;                       // <- fixed
    width: 30;
    lines: 7;
    padding: 20;
    border: 2;
    border-radius: 10;
}

* {
    background:     #2E3440;
    border-color:   #5E81AC;
    separatorcolor: #4C566A;
    text-color:     #D8DEE9;
    selected-normal-background: #5E81AC;
    selected-normal-foreground: #ECEFF4;
}

